<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegap.mobbywallet" version="1.3.15" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Mobby Wallet</name>
    <description>
        Mobby Wallet
    </description>
    <author email="nikitarui92@gmail.com">
        Mobby Team
    </author>
    <content src="index.html" />
    <preference name="phonegap-version" value="cli-8.1.1" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="Orientation" value="portrait" />
    <edit-config file="*-Info.plist" mode="merge" target="NSCameraUsageDescription">
        <string>To scan barcodes</string>
    </edit-config>
    <preference name="ShowSplashScreenSpinner" value="false" />
    <preference name="SplashScreenDelay" value="5000" />
    <platform name="android">
        <hook src="overwrite_beep.js" type="before_compile" />
        <icon density="ldpi" src="res/icon/android/icon_android_ldpi.png" />
        <icon density="hdpi" src="res/icon/android/icon_android_hdpi.png" />
        <icon density="mdpi" src="res/icon/android/icon_android_mdpi.png" />
        <icon density="xhdpi" src="res/icon/android/icon_android_xhdpi.png" />
        <icon density="xxhdpi" src="res/icon/android/icon_android_xxhdpi.png" />
        <icon density="xxxhdpi" src="res/icon/android/icon_android_xxxhdpi.png" />
        <splash density="port-ldpi" src="res/screen/android/screen_ldpi.png" />
        <splash density="port-hdpi" src="res/screen/android/screen_hdpi.png" />
        <splash density="port-mdpi" src="res/screen/android/screen_mdpi.png" />
        <splash density="port-xhdpi" src="res/screen/android/screen_xhdpi.png" />
        <splash density="port-xxhdpi" src="res/screen/android/screen_xxhdpi.png" />
        <splash density="port-xxxhdpi" src="res/screen/android/screen_xxxhdpi.png" />
    </platform>
    <platform name="ios">
        <preference name="StatusBarOverlaysWebView" value="false" />
        <preference name="UseSwiftLanguageVersion" value="4.0" />
        <icon height="40" platform="ios" src="res/icon/ios/icon-ios-20@2x.png" width="40" />
        <icon height="60" platform="ios" src="res/icon/ios/icon-ios-20@3x.png" width="60" />
        <icon height="58" platform="ios" src="res/icon/ios/icon-ios-29@2x.png" width="58" />
        <icon height="87" platform="ios" src="res/icon/ios/icon-ios-29@3x.png" width="87" />
        <icon height="80" platform="ios" src="res/icon/ios/icon-ios-40@2x.png" width="80" />
        <icon height="120" platform="ios" src="res/icon/ios/icon-ios-40@3x.png" width="120" />
        <icon height="120" platform="ios" src="res/icon/ios/icon-ios-60@2x.png" width="120" />
        <icon height="180" platform="ios" src="res/icon/ios/icon-ios-60@3x.png" width="180" />
        <icon height="152" platform="ios" src="res/icon/ios/icon-ios-76@2x.png" width="152" />
        <icon height="166" platform="ios" src="res/icon/ios/icon-ios-83@2x.png" width="166" />
        <icon height="1024" platform="ios" src="res/icon/ios/icon-ios-1024@1x.png" width="1024" />
        <splash height="960" platform="ios" src="res/screen/ios/screen_960.png" width="640" />
        <splash height="1136" platform="ios" src="res/screen/ios/screen_1136.png" width="640" />
        <splash height="1334" platform="ios" src="res/screen/ios/screen_1334.png" width="750" />
        <splash height="2208" platform="ios" src="res/screen/ios/screen_2208.png" width="1242" />
    </platform>
    <access origin="*" />
    <allow-navigation href="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <plugin name="cordova-plugin-whitelist" spec="~1.3.3" />
    <plugin name="cordova-plugin-splashscreen" spec="~5.0.2" />
    <plugin name="phonegap-plugin-barcodescanner" spec="~8.0.1" />
    <plugin name="cordova-plugin-dialogs" spec="~2.0.1" />
    <plugin name="cordova-plugin-statusbar" spec="~2.4.2" />
    <plugin name="cordova-plugin-nativestorage" spec="~2.3.2" />
    <plugin name="cordova-plugin-device" spec="~2.0.3" />
    <plugin name="cordova-plugin-network-information" spec="~2.0.2" />
</widget>
