noscript {
  align-items: center;
  display: flex;
  font-family: Tahoma, Geneva, Verdana, sans-serif;
  justify-content: center;
  padding-top: 30px;
  width: 100%;
}

noscript > .text-container {
  display: flex;
  flex-direction: column;
}

p,
h1,
h3 {
  margin: 5px 10px;
}

noscript > .img-container > img {
  height: 200px;
}

body {
  position: fixed;
}

#app {
  height: 100vh;
  width: 100vw;
  overflow-y: scroll;
}

#app > .header {
  height: 70px;
  z-index: 999;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

#app > .main {
  padding: 70px 0 50px 0;
  min-width: 100%;
  min-height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-content: center;
}

#app > .footer {
  height: 50px;
  z-index: 999;
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
}