noscript {
  align-items: center;
  display: flex;
  font-family: Tahoma, Geneva, Verdana, sans-serif;
  justify-content: center;
  padding-top: 30px;
  width: 100%;
}

noscript > .text-container {
  display: flex;
  flex-direction: column;
}

p,
h1,
h3 {
  margin: 5px 10px;
}

noscript > .img-container > img {
  height: 200px;
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  width: 100vw;
}

#app > .header {
  height: 70px;
  z-index: 999;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

#app > .main {
  flex:1;
  margin-top: 70px;
  margin-bottom: 70px;
}

#app > .footer {
  z-index: 999;
  position: fixed;
  height: 70px;
  width: 100%;
  right: 0;
  bottom: 0;
}